.button-test{
    text-decoration: none;
    color: $white;
    padding: 1em;
    text-transform: uppercase;
    background-color: $text-color;
    font-size: rem(12);
    display: inline-block;
    letter-spacing: 0.05em;
    transition: background-color 0.3s;
    &:hover {
        background-color: lighten($text-color, 10%);
    }
    &--success {
        background-color: $green;
        &:hover {
            background-color: lighten($green, 10%);
        }
    }
    &--alert {
        background-color: $red;
        &:hover {
            background-color: lighten($green, 10%);
        }
    }
}

.button-red {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, $red 100%);
    background-color:#f24537;
    border-radius:15px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    color: white;
    text-align: center;
}
.button-red:hover {
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: $red;
    color: white;
}
.button-red:active {
    position:relative;
    top:1px;
}