.button {
    text-decoration: none;
    color: $white;
    padding: 1em;
    text-transform: uppercase;
    background-color: $text-color;
    font-size: rem(12);
    display: inline-block;
    letter-spacing: 0.05em;
    transition: background-color 0.3s;
    &:hover {
        background-color: lighten($text-color, 10%);
    }
    &--success {
        background-color: $green;
        &:hover {
            background-color: lighten($green, 10%);
        }
    }
    &--alert {
        background-color: $red;
        &:hover {
            background-color: lighten($green, 10%);
        }
    }
}