$light-grey:#F2F2F2;
$text-color:#444;
$white:#FFF;
$green:#31AA65;
$red:#CE0A0B;
$black-transparent: rgba(0, 0, 0, 0.6);
$lay-purple:rgb(99, 81, 102);

// Dashboard Variables
$sidebar-black:#3C4244;
$site-content-white:#f1f1f1;
$text-red:#EF3535;