*{
    font-family: montserrat;
}

.input-form{
    height: 40px;
    width: 500px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: tomato;
    margin-bottom: 15px;
    font-size: larger;
}

.film-title{
    margin-top: 15px;
}

.add-film{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.form-add{
    margin-top: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    
}

.flex-form-container{
    display: flex;
    flex-wrap: wrap;
    font-stretch: normal;
    justify-content: space-around;
}

.flex-form-content-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
}

.flex-form-content-right{
    display: flex;
    flex: 1;
    margin-bottom: 20px;
}

.affiche{
    width: 100%;
    height: 100%;
}

.submit-addfilm{
    width: 200px;
    margin-left: 150px;
    background-color: tomato;
    color: white;
    text-align: center;
    cursor: pointer;
}

.submit-addfilm:hover{
    background-color: darkred;
    font-weight: bolder;
    transition-duration: 200ms;
}

.input-form:focus{
    outline: none;
    border: 3px solid tomato;
}

.form-group{
    background-color: #f1f1f1;
}