#logo_header {
    height: 55px;
}

.navbar-header{
    width: 100%;
    top: 0;
    background-color: white;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: groove;
}

nav{
    width: 100%;
    height: 60px;
}

.nav-text{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.link-wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.logo-wrapper{
    padding: 10px;
    margin-left: 10px;
}

.img-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.landing-main-content{
    justify-content: space-between;
    display: flex;
}

.landing-side-wrapper{
    margin-top: 35%;
    margin-left: 10%;
}

/* {
    box-sizing: border-box;
} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
bottom: 23px;
right: 28px;
}

.center-btn-component{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The popup form - hidden by default */
.form-popup {
display: none;
position: fixed;
bottom: 0;
right: 15px;
border: 3px solid #f1f1f1;
z-index: 9;
}

/* Add styles to the form container */
.form-container {
max-width: 300px;
padding: 10px;
background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
width: -webkit-fill-available;;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}

.fix-wrapper-form{
    margin-right: 300px;
}

.container{
    display: flex;
    flex-direction: column;
}

.page-title{
    text-align: center;
}

#head-title h2{
    margin: auto;
}

#contenu{
    margin: auto !important;
    margin-top: 40px !important; 
}

#space-icons{
    margin-left: 1000px;
}

.search{
    margin: auto;
    margin-top: 100px;
}

#resultgetreservation td{
    padding: 10px;
    text-align: center;
  }
  
#resultgetseance td{
padding: 10px;
text-align: center;
}