.show-cinema-fit-img{
    width: 408px;
    height: 174px;
}

.show-cinema-full-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.show-cinema-container{
    width: 430px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.show-cinema-upper-img{
    display: flex;
    justify-content: center;
    align-items: center;
}