.show-movie-container
{
    display: flex;
    width: 705px;
    height: 585px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

.show-fit-pic{
    width: 307px;
    height: 494px;
}

.show-title-movie{
    height: 70px;
    background-color: #EF3535;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-title-style{
    color:white;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
}

.show-desc-container{
    display: flex;
    width: -webkit-fill-available;
}

.show-right-desc{
    margin-top: 30px;
    width: -webkit-fill-available;
}

.show-li-wrapper{
    margin-top: 20px;
}

.show-button-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    width: 340px;
}

#show-label-bold{
    font-weight: bold;
}

.show-left-img{
    /* display: flex;
    align-items: center; */
}