/* signup signin views CSS */

* 
{
margin: 0; 
padding: 0; 
box-sizing: border-box;
}

body, html 
{
width: 100%;
height: 100%;
font-family: "Montserrat", sans-serif;
}

body
{
background-color: white;
}

.button_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 62%;
    justify-content: center;
    align-items: center;
    margin-left: 82px;
}

.label-password{
font-size: 15px;
color: #EF3535;
display: flex;
align-items: center;
margin-top: 15px;
justify-content: space-between;
}

.button {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color:#c62d1f;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}

.button:hover {
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color:#f24437;
}
.button:active {
    position:relative;
    top:1px;
}

.container
{
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
overflow: hidden;
}

.section1
{
width: 53%;
height: 100%;
background-image: url("../images/dolby3.jpg");
background-size: cover;
background-position: center;
}

.section2
{
width: 47%;
height: 100%;
}

.headerSection2
{
width: 100%;
height: 25%;
position: relative;
}

.headerSection2 > .containerImg
{
width: 100%;
position: absolute;
bottom: 12%;
}

.headerSection2 > .containerImg > img
{
width: 25vw;
display: block;
margin: auto;
}

.sectionSignup
{
    width: 100%;
    height: 65%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
color: #3C4244;
}

.sectionSignup > h1
{
width: 100%;
font-size: 1.5vw;
text-align: center;
}

.divInput
{
width: 70%;
margin: auto;
}

.sectionSignup input[name="firstname"], input[name="lastname"]
{
width: 49.3%;
padding: 8px 12px;
border: 1px solid #E5E5E5;
border-radius: 7px;
margin-top: 15px;
}

.sectionSignup input[type=email], input[type=password]
{
width: 100%;
padding: 8px 12px;
border: 1px solid #E5E5E5;
border-radius: 7px;
margin-top: 15px;
}

.divCheckbox
{
width: 100%;
margin-top: 15px;
}

.sectionSignup input[type=checkbox]
{
	
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #C7C7C7;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #C7C7C7;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: #C7C7C7;
}

.sectionSignup label
{
font-size: 1.2vw;
}

.label-password{
font-size: 15px;
color: #EF3535;
display: flex;
align-items: center;
margin-top: 15px;
justify-content: space-evenly;
}