body
{
  background-color: #F1F1F1;
}

/* Start Dashboard CSS */

.flex-container {
  display: flex;
}

.sidebar {
  width: 20%;
}

.site-content {
  width: 80%;
}

table td:nth-child(odd) {
  background-color: white;
}

.tr-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.td-dashboard-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.lists-film {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-wrapper {
  display: flex;
  width: 80px;
  justify-content: space-around;
}

#form-list-wrapper{
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#text-wrappe {
  text-transform: uppercase;
  font-weight: bold;
}

#hour-wrappe {
  width: 20%;
}

#separation-bar {
  border-top: 1px solid #c9bbbb;
  width: 75%;
  margin: auto;
}

.quick-tools {
  display: flex;
  margin-top: 25px;
  align-items: center;
  width: 95%;
  justify-content: flex-end;
}

#space-icons {
  width: 8%;
  display: flex;
  justify-content: space-evenly;
}

a{
  color: inherit;
}

a:link {
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #ef3535;
}

.cb-fixer{
  margin-right: 0;
  margin-left: 10px;
}

h2{
  color:#EF3535;
}

#text-white{
  color:white;
}

#head-title{
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: 15px;
}

.title-container{
  margin-left: 20px;
  padding: 4px;
}

.name-container{
  color: white;
  height: 80px;
  background-color: #2F3334;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: larger;
  box-shadow: inset 0 5px 5px -3px black;
  width: 100%;
}

#dot{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  margin-right: 20px;
}

.nav-content{
  color: white;
  width: 100%;
}

li{
  list-style-type: none;
}

.sidebar-sub-headers{
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  align-items: center;
}

#submenu-wrapper{
  margin-left: 15px;
  font-weight: bold;
  font-size: 18px;
}

#text-submenu-fixer{
  margin-left: 25px;
}

.active{
  background-color: #C4C4C4;
}

.dashboard-menu{
  height: 50px;
  display: flex;
  align-items: center;
  mix-blend-mode: hard-light;
}

/* END Dasshboard CSS */


/* Start Users CSS */

.usersTable 
{
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  font-weight: bold;
}

.usersTable thead th
{
  padding-top: 32px;
  padding-bottom: 32px;
}

.usersTable tbody tr:nth-child(odd)
{
  background-color: white;
}

.usersTable tbody tr:nth-child(even)
{
  background-color: transparent;
}

.usersTable tbody td:nth-child(odd)
{
  background: none;
}

.usersTable tbody td
{
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.usersTable tbody td:last-child
{
  border-radius: 0 13px 13px 0;

}

.usersTable tbody th:first-child
{
  border-radius: 13px 0 0 13px;

}

.usersTable tbody td:nth-child(3+4)
{
  width: 28%;
}

/* END Users CSS */